name: Order Service CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Order Service Image
        run: docker build -t order-service ./microservices/order-service
