name: Monolith CI/CD

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Monolith Docker Image
        run: docker build -t monolith-app .
