name: API Gateway CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build API Gateway Image
        run: docker build -t api-gateway ./api-gateway
