name: User Service CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build User Service Image
        run: docker build -t user-service ./microservices/user-service
